* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Tilt Neon', cursive;
	color: #609966;
	text-align: center;
	background-color: #edf1d6;
}

h1 {
	margin: 20px;
}

.container--sketch {
	margin: 0 auto;
	background-color: #9dc08b;
	border: 1px solid #40513b;
	width: 960px;
	height: 960px;

	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: auto;
	gap: 0px;
}

.btn {
	padding: 5px 15px;
	margin: 10px;
}

.sq {
	border: 1px solid #40513b;
	background-color: #609966;
}

.btn:link,
.btn:visited {
	background-color: none;
}

.btn:hover,
.btn:active {
	background-color: #e7b10a;
}
